<!DOCTYPE html>
<html>
    <head>
        <title><%= Welcome! %></title>
        <link rel='stylesheet' href ='/stylesheets/style.css' />
    </head>
    <body>
        <h1><% title%></h1>
        <p>Welcome to <%= title%></p>
        <a href ="/">Home </a>  <a href ="/about">about </a>  <a href ="/contact">contact </a> <a href ="/myform">student Form </a>
    </body>


</html>