<div id="sidebar">
			<ul>
				<li>
					<h2>Categories</h2>
					<ul>
						<li><a href="#">Web development</a></li>
						<li><a href="#">Artificial Intelligence</a></li>
						<li><a href="#">Node.js</a></li>
						<li><a href="#">Deep learning</a></li>
						<li><a href="#">Computer Networking</a></li>
						<li><a href="#">Flutter</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<!-- end #sidebar -->