<html>
    <body>
        <h1>Add record for Table MArks-</h1>
        <a href="/smarks/display">Display</a>
        <form method="post" action="/smarks/add-process">
            CN : <input type='text' name='txt1' required>
            COA : <input type='text' name='txt2' required>
            OS : <input type='text' name='txt3' required>
            <input type="submit"/>
        </form>
    </body>
</html> 